body {
    color: green

background: green
margin:0px;





header {

border-bottom: solid 2px rgb(187, 27, 27);

padding:20px;

font-size: 32px;

color:rgb(rgb(28, 13, 54);

}









}






